/* Style de la sidebar */
.sidebar {
  background-color: #09ab47 !important; /* Arrière-plan blanc */
  width: 240px; /* Largeur de la sidebar */
  height: 100vh; /* Hauteur de la sidebar */
  position: fixed; /* Position fixe pour rester en place */
  top: 0; /* Aligner en haut */
  left: 0; /* Aligner à gauche */
  display: flex; /* Utilisation de flexbox pour le conteneur */
  flex-direction: column; /* Aligner les éléments en colonne */
  padding-top: 20px; /* Espacement interne en haut */
}

/* Liste d'éléments de la sidebar */
.sidebar-list {
  list-style-type: none; /* Suppression des puces */
  padding: 0; /* Suppression du padding */
  margin: 0; /* Suppression des marges */
  width: 100%; /* Utiliser toute la largeur */
}

/* Élément de la liste de la sidebar */
.sidebar-item {
  padding: 15px; /* Espacement interne */
  text-align: center; /* Centrer le texte */
}

.sidebar-item a {
  text-decoration: none; /* Suppression de la décoration de texte */
  color: #021c0a; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
  display: block; /* Utiliser tout l'espace de l'élément */
}

.sidebar-item:hover {
  background-color: #f0f0f0; /* Effet au survol */
}
